*{
  padding: 0;/*Define para o navegador, que o espaçamento a ser utilizado na página é igual a zero*/
  margin: 0; /*Define o valor 0 como margem para a página*/
  box-sizing: border-box;/*O espaçamento do padding conta para dentro da caixa*/
  font-family: Arial, Helvetica, sans-serif;/*Deine o tipo de fonte que será utilizada na página*/
}
header{
  background-color: rgb(255, 161, 39);
  color: aliceblue;
  padding: 15px; /*adicionou espaço de 15 pixels entre o texto e a margem*/
  text-align: center; /*Alinha o texto no centro da página*/
  border-bottom: #c69dfc 5px solid;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer {
  background-color: rgb(255, 161, 39);
  color: aliceblue;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*Grid de produtos*/                
.container {
 background-color: #cec7c7; /*Muda a cor do fundo da seção container*/
 min-height: 60vh; /*altura minima da seção deve ser 60% da tela*/
 padding: 50px; /*espaçamento de 50 pixels nas margens*/
}

.container{
  max-width: 1200px; /*largura máxima da divisão Card*/
  margin: 0 auto; /*margem 0 na altura e centralizar na horizontal*/
}

.card {
  width: 33%; /*largura do card*/
  display: inline-block; /*posiciona os card em linha*/
}

.product-image {
  height: 300px; /*Altura da imagem*/
  width: 100%; /*Ocupar 100% do espaço disponívl no card*/
  background-position: center;
  background-size: cover;
}

#img-1 {
  background-image: url(../Imagens/tenis1.jpg);
}

#img-2 {
  background-image: url(../Imagens/tenis2.jpg);
}

#img-3 {
  background-image: url(../Imagens/tenis3.jpg);
}

#img-4 {
  background-image: url(../Imagens/tenis4.jpg);
}

#img-5 {
  background-image: url(../Imagens/tenis5.jpg);
}

#img-6 {
  background-image: url(../Imagens/tenis6.jpg);
}

h3 {
  color: rgba(41, 131, 14, 0.719);
  margin-bottom: 10px;
  font-size: 24px;
  text-align: center;
}

.card p {
  margin-bottom: 10px;
}

.btn {
  background-color: #4fe742;
  color: #fd0ffd; 
  display: block; /*Exibir o conteúdo no formato de um bloco. (Os próximos só funcionam bem por causa dele)*/
  width: 100%; /*Ocupar 100% do espaço disponível no card (ajuda a deixar no centro*/
text-align: center;
text-transform: uppercase;
text-decoration: none; /*remove o sublinhado do texto*/
padding: 15px;/*Espaçamento de 15px ao redor do display block*/
margin-bottom: 10px; /*Adiciona uma margem abaixo do botão de 10px*/
border-radius: 100px; /*Arredonda o botão*/
}

.btn:hover /*altera o comportamento do botão quando o mouse passar por cima*/{
background-color: black;
}

p {
  color: rgb(119, 65, 0);
  text-align: center;
}